*.pyc
__pycache__/
experiments/
examples/SAR-COV2/prf
examples/SAR-COV2/src/
examples/SAR-COV2/prf2
iper.egg-info/
*.png
results*/
ctx-cache/
examples/Economy/BCN_Resources/bcn.osm
examples/Economy/Experiment2/code_Clousure/BCN_Resources/bcn.osm
examples/Economy/BCN_Resources/bcn.zip
examples/Economy/Experiment2/code_Restrictions/BCN_Resources/bcn.osm
examples/Economy/Experiment3/BCN_Resources/bcn.osm
